<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <form method="post" action="/catalog/create" th:object="${productCreateDto}"
              enctype="multipart/form-data">
            <label for="name">Name</label>
            <input id="name" type="text" th:field="*{name}" />
            <label for="type">Type</label>
            <input id="type" type="text" th:field="*{type}" />
            <label for="description">Description</label>
            <input id="description" type="text" th:field="*{description}" />
            <label for="price">Price</label>
            <input id="price" type="text" th:field="*{price}" />
            <label for="files">Images</label>
            <input id="files" type="file" th:field="*{files}" multiple required accept=".jpg, .jpeg, .png"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div sec:authorize="!isAuthenticated()">
        Закачивать файлы могут только авторихованные пользователи
    </div>
</body>
</html>