<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Settings</title>
</head>
<body>
<form method="post" th:action="@{settingUser}" th:object="${user}">
    <div class="form-group">
        <label>FirstName</label>
        <input class="form-control" type="text" th:field="*{firstName}"/>
    </div>
    <div>
        <th:block th:each="role : ${roles}">
            <label th:name="${role.toString()}">
                <input type="checkbox" th:checked="${user.roles.contains(role)}" th:name="${role}" th:value="${role}">
            </label>
        </th:block>
    </div>
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{username}"/>
    <input type="hidden" th:field="*{roles}"/>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>