<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <title>Настройки</title>
</head>
<body>
<div class="col-md-4 offset-md-4" layout:fragment="content">
    <br>
    <th:block th:if="${isError}">
        <p th:text="${error}"></p>
    </th:block>
    <th:block th:if="${!isError}">
        <form method="post" th:action="@{settingUser}" th:object="${user}">
            <input name="id" hidden="true" th:field="*{id}">
            <input name="username" hidden="true" th:field="*{username}"/>
            <input name="password" hidden="true" th:field="*{password}">
            <input name="roles" hidden="true" th:field="*{roles}"/>
            <div class="form-group centered">
                <label>Имя</label>
                <input class="form-control" type="text" th:field="*{firstName}"/>
            </div>
            <div class="form-group centered">
                <label>Фамилия</label>
                <input class="form-control" type="text" th:field="*{lastName}"/>
            </div>
            <div class="form-group centered">
                <label>E-Mail</label>
                <input class="form-control" type="text" th:field="*{email}"/>
            </div>
            <div class="form-group centered">
                <label>Телефон</label>
                <input class="form-control" type="text" th:field="*{phone}"/>
            </div>
            <div class="form-group centered">
                <label>Адрес</label>
                <input class="form-control" type="text" th:field="*{address}"/>
            </div>
            <ul th:if="${user.isAdmin()}">
                <th:block th:each="role : ${roles}">
                    <li th:value="${role.toString()}">
                        <label th:text="${role.toString()}">ROLE</label>
                        <input type="checkbox" th:checked="${user.roles.contains(role)}" th:name="${role}" th:value="${role}">
                    </li>
                </th:block>
            </ul>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a class="btn btn-danger" href="/user">Назад</a>
        </form>
    </th:block>
    <br>
</div>
</body>
</html>
