<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d8a069aa05.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/defaultStyle.css}" href="../public/css/defaultStyle.css">
    <title>Laika Toys</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-light navbar-expand-lg bg-main-panel sticky-top">
    <a class="navbar-brand col-md-4 text-center" href="/">Laika Toys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link font-up-panel" href="/">Главная</a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-up-panel" href="/catalog">Каталог</a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-up-panel" href="/about">О нас</a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-up-panel" href="/login">Личный кабинет</a>
            </li>
        </ul>
        <div class="form-inline md-form my-0">
            <a class="nav-link font-up-panel" href="/cart/show">Корзина <i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</nav>

<div layout:fragment="content">
</div>

<footer class="bg-main-panel card-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-5">
                    <h2 class="text-center">Links</h2>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item bg-main-panel"><a href="/">Главная</a></li>
                        <li class="list-group-item bg-main-panel"><a href="/catalog">Каталог</a></li>
                        <li class="list-group-item bg-main-panel"><a href="/about">Контакты</a></li>
                        <li class="list-group-item bg-main-panel"><a href="/login">Войти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>