<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <row>
                <div class="col-md-12" id="aboutImage"></div>
            </row>
            <row>
                <div class="col-md-12 centered">
                    <h5 style="color: black">Информация о нас</h5>
                    <p>
                        С 2013 года мы привозим в Россию концептуальные марки детской одежды, предметов декора и игрушек из стран Европы и Америки. Эти бренды в целом отличаются уникальным дизайном и этичным подходом к производству. Нам важно, где и как были сшиты вещи, которые вы найдете в Babyswag, на каких полях выращивался хлопок для тканей, в каких условиях работали швеи и не пострадала ли наша экосистема в ходе всей этой производственной цепочки.
                        Мы хотим, чтобы потребление было более осознанным, насколько это возможно в наше время консьюмеризма, чтобы дети носили одежду, которая приятна телу, не колется, не теряет свои свойства после одного сезона, чтобы покупая очередную кофточку, мы были честны сами с собой: я выбираю это, в первую очередь, не потому, что это дешево, а потому что я что-то говорю этим о себе: я люблю дизайн, я поддерживаю семейный бизнес, мне важны экологичность и условия труда рабочих, я верю, что благодаря моему выбору, мир понемногу становится лучше.
                    </p>
                    <h5 style="color: black">Информация о нас</h5>
                    <p>
                        С 2013 года мы привозим в Россию концептуальные марки детской одежды, предметов декора и игрушек из стран Европы и Америки. Эти бренды в целом отличаются уникальным дизайном и этичным подходом к производству. Нам важно, где и как были сшиты вещи, которые вы найдете в Babyswag, на каких полях выращивался хлопок для тканей, в каких условиях работали швеи и не пострадала ли наша экосистема в ходе всей этой производственной цепочки.
                        Мы хотим, чтобы потребление было более осознанным, насколько это возможно в наше время консьюмеризма, чтобы дети носили одежду, которая приятна телу, не колется, не теряет свои свойства после одного сезона, чтобы покупая очередную кофточку, мы были честны сами с собой: я выбираю это, в первую очередь, не потому, что это дешево, а потому что я что-то говорю этим о себе: я люблю дизайн, я поддерживаю семейный бизнес, мне важны экологичность и условия труда рабочих, я верю, что благодаря моему выбору, мир понемногу становится лучше.
                    </p>
                    <h5 style="color: black">Информация о нас</h5>
                    <p>
                        С 2013 года мы привозим в Россию концептуальные марки детской одежды, предметов декора и игрушек из стран Европы и Америки. Эти бренды в целом отличаются уникальным дизайном и этичным подходом к производству. Нам важно, где и как были сшиты вещи, которые вы найдете в Babyswag, на каких полях выращивался хлопок для тканей, в каких условиях работали швеи и не пострадала ли наша экосистема в ходе всей этой производственной цепочки.
                        Мы хотим, чтобы потребление было более осознанным, насколько это возможно в наше время консьюмеризма, чтобы дети носили одежду, которая приятна телу, не колется, не теряет свои свойства после одного сезона, чтобы покупая очередную кофточку, мы были честны сами с собой: я выбираю это, в первую очередь, не потому, что это дешево, а потому что я что-то говорю этим о себе: я люблю дизайн, я поддерживаю семейный бизнес, мне важны экологичность и условия труда рабочих, я верю, что благодаря моему выбору, мир понемногу становится лучше.
                    </p>
                </div>
            </row>
        </div>
    </div>
</body>
</html>